<div class="row mt-2 application">
  <div class="col-2 py-2">
    <!-- Need to figure out how to format the 'createdAt' date -->
    <p class="text-center m-0 app-text">04/12/2020</p>
  </div>
  <div class="col-4 py-2">
    <p class="text-center m-0 app-text">{{company}}</p>
  </div>
  <div class="col-4 py-2">
    <p class="text-center m-0 app-text">{{role}}</p>
  </div>
  <div class="col-2 py-2">
    <!-- Need a 'source' column on the application table -->
    <p class="text-center m-0 app-text">LinkedIn</p>
  </div>
</div>