<div class="container">

    <!-- Welcome Section -->
    <div class="row justify-content-center mt-4">
      <div class="col-6">
        <h1 class="display-5 mono-font dark ms-5">Welcome, <span id="firstName">{{user.firstName}}</span>!</h1>
      </div>
      <div class="col-6">
        <p class="text-center fancy-font dark mb-1 mt-2">"If opportunity doesn't knock, then build a door."</p>
        <p class="text-center ps-5 dark">- Milton Berle</p>
      </div>
    </div>

    <!-- Stat Bar Section -->
    <div class="row justify-content-around dark-background rounded-border p-4 mt-4">
      <div class="col-4 justify-content-center">
        <h4 class="mono-font dark text-center my-auto">Applications <span class="green-background light rounded-border p-2">27</span></h4>
      </div>
      <div class="col-4 justify-content-center">
        <h4 class="mono-font dark text-center my-auto">Responses <span class="green-background light rounded-border p-2">19</span></h4>
      </div>
      <div class="col-4 justify-content-center">
        <h4 class="mono-font dark text-center my-auto">Interviews <span class="green-background light rounded-border p-2">4</span></h4>
      </div>
    </div>

    <!-- Graph & Tracking Section -->
    <div class="row justify-content-center my-4">
      <div class="col-9 chart">
        <canvas id="chart"></canvas>
      </div>
    </div>

    <!-- Search & Filter Section -->
    <div class="row justify-content-center mt-5">
      <!-- Filter -->
      <div class="col-7 d-flex">
        <div class="dropdown me-auto">
          <button class="btn btn-secondary dark-btn hover-dark mono-font dropdown-toggle" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
            Filter Results
          </button>
          <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <li><a class="dropdown-item mono-font dark" href="#">Starred</a></li>
            <li><a class="dropdown-item mono-font dark" href="#">Interviewed</a></li>
            <li><a class="dropdown-item mono-font dark" href="#">Responded</a></li>
          </ul>
        </div>
        <button type="button" id="new" class="btn btn-secondary dark-btn hover-dark mono-font me-auto" data-bs-toggle="modal" data-bs-target="#newapp-form">
          New Application
        </button>
      </div>
      <!-- Search -->
      <div class="col-5">
        <form class="d-flex">
          <input class="form-control mono-font" type="search" placeholder="Search for an application" aria-label="Search">
          <button class="btn dark-btn mono-font hover-dark btn-outline-success" type="submit" id="btn-search">Search</button>
        </form>
      </div>
    </div>

    <!-- Add New Application Modal -->
    <div class="modal mt-5" tabindex="-1" id="newapp-form">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title mono-font dark">Enter application info.</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <!-- Input Fields -->
          <div class="modal-body">
            <p class="m-0 mono-font dark">Company</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="compName">
            </div>
            <p class="m-0 mono-font dark">Position</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="roleName">
            </div>
            <p class="m-0 mono-font dark">Source</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="jobsitelink">
            </div>
            <p class="m-0 mono-font dark">Recruiter Name (Optional)</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="recruiterName">
            </div>
            <p class="m-0 mono-font dark">Recruiter Email (Optional)</p>
            <div class="input-group mb-3">
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" id="recruiterEmail">
            </div>
            <p class="m-0 mono-font dark">Notes</p>
            <div class="input-group">
              <textarea class="form-control" aria-label="With textarea"></textarea>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary dark-btn hover-dark mono-font" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-primary dark-btn hover-dark mono-font" id="save-app">Save Application</button>
          </div>
        </div>
      </div>
    </div>

    <!-- App Headers -->
    <div class="row mt-4" id="header-row">
      <div class="col-2">
        <p class="text-center mt-4 mb-0 fs-5 mono-font dark">Apply Date</p>
      </div>
      <div class="col-4">
        <p class="text-center mt-4 mb-0 fs-5 mono-font dark">Company Name</p>
      </div>
      <div class="col-4">
        <p class="text-center mt-4 mb-0 fs-5 mono-font dark">Position Title</p>
      </div>
      <div class="col-2">
        <p class="text-center mt-4 mb-0 fs-5 mono-font dark">Source</p>
      </div>
    </div>
    <hr>
    
    <!-- Applications -->
    {{#each apps}}
    {{> app-block}}
    {{/each}}
    
  </div>

  <script src="../js/dashboard.js"></script>
  <script src="../js/chart.js"></script>
  