/**** GLOBAL *****/
* {
  box-sizing: border-box;
}
body {
  background-color: #f2efea;
}
p {
  font-family: 'Roboto Mono', monospace;
}

/**** WELCOME SECTION *****/
h1 {
  font-family: 'Roboto Mono', monospace;
  font-weight: 700;
  color:#556052;
  padding-left: 10%;
}
#quote-text {
  font-family: 'Sriracha', cursive;
  font-size: larger;
  color:#556052;
  margin: 2% 0 0 0;
}
#quote-author {
  font-family: 'Roboto', sans-serif;
  color:#556052;
  padding-left: 50%;
}

/***** STATS BAR *****/
#stats-bar {
  background: #cbbcb1;
  height: 100px;
  border-radius: 10px;
}
#graph {
  height: 250px;
  border-radius: 10px;
}
#tracking {
  height: 250px;
  border-radius: 10px;
}