/***** GLOBAL *****/
* {
  box-sizing: border-box;
}
body {
  background-color: #f2efea;
}

h1, h5, .modal-btn, input, #login-btn, #signup-btn, p {
  font-family: 'Roboto Mono', monospace;
}

h1 {
  font-weight: 700;
  color:#556052;
}

h5 {
  font-weight: 700;
  color:#556052;
}

#login-btn-main, #signup-btn-main {
  font-family: 'Roboto Mono', monospace;
  font-size: 1.5em;
  background: #af6b58;
  color: #f2efea;
  border: none;
  border-radius: 10px;
  height: 3em;
  width: 7em;
}

#login-btn-main:hover, #signup-btn-main:hover {
  cursor: pointer;
  background: #556052;
}

.modal-btn {
  background: #556052;
}